.center { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 10px;
}

input {
    margin: 5px;
    border-radius: 8px;
    height: 30px;
    width: 500px;
    }